*
{
    margin: auto;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html, 
body 
{ 
    width: 100%; 
    background-image: linear-gradient(to right, #ff05ea, #c40099);
}


/*cabecera del documento*/
header
{
    border-radius: 20px;
    background-color: #ff00aa;
}

header h1
{
    text-align: center;
    color: #ffffff;
    padding: 0.5em;
    font-size: 1.5em;
}

.logo
{
    width: 15%;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    
}

body div.logo img
{
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: auto;
    border-radius: 20px;
}

nav
{
    background-color: #ff00bf;
    min-height: 3.5em ;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    float: center;
}

/*Inicio del menÃº*/
#menu  
{  
    text-align: center;
    font-size: 0.7em;
    width: 820px;
    margin: 20px auto;
}
   
#menu ul 
{ 
    list-style-type: none;
}

#menu ul li.nivel1 
{ 
    float: left;
    width: 162px;
    margin-right: 2px;   
}
    
#menu ul li a 
{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #a5e62cc9;
    border: solid 1px #fff;
    padding: 8px;
    position: relative;    
}
    
#menu ul li:hover 
{
    position: relative;
}
    
#menu ul li a:hover, 
#menu ul li:hover a.nivel1
{
    background-color: #6CC;
    color: #000;
    position: relative;    
}
    
#menu ul li a.nivel1 
{
    display: block!important;display: none;
    position: relative;  
}
    
#menu ul li ul 
{
    display: none;  
}
    
#menu ul li a:hover ul, 
#menu ul li:hover ul 
{
    display: block;
    position: absolute;
    left: 0px;
}
    
#menu ul li ul li a 
{
    width: 160px;
    padding: 6px 0px 8px 0px;
    border-top-color: #000;    
}

#menu ul li ul li a:hover 
{
    border-top-color: #000;
    position: relative;    
}

.titulo
{
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    padding-right: 100px;

}

.contenedor
{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5px;
    width: 80%;
    height: 900px;
    border: 2px solid black;
    background-image: url(../images/background/bg3rombo16px.png);
    border-radius: 20px ;   
}

.parrafo
{
    padding: 10px 150px 10px 150px; /*arriba derecha abajo izquierda*/
    text-align: justify;
    font-family: arial;
    color: #fff;
    font-size: 1em ;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 0px 0px; /*arriba izquierda, arriba derecha, abajo izquierda, abajo derecha*/
}

.titulo-dos
{
    text-align: center;
    margin: 10px;
    color: #fff;
    
}

.titulo-tres
{
    text-align: left;
    margin: 15px 0px 15px 10px;
    color: #fff;
}

.desarrollador
{
    border: 1px solid black;
    margin: 5px;
    width: 48%;
    background: rgba(0, 0, 0, 0.8);
    float: left;
    border-radius: 20px;
}

.diseñador
{
    border: 1px solid black;
    margin: 5px;
    width: 48%;
    background: rgb(0, 0, 0, 0.8);
    float: right;
    border-radius: 20px; 
}

.cont-parrafo
{
    text-align: justify;
    color: #fff;
    font-family: Arial;
    font-size: 1em;
    margin: 0px 15px 0 15px ; /*arriba derecha abajo izquierda*/
    padding: 15px;
}

.foto
{
    width: auto;
    margin: 20px 10px 0px 80px; /*arriba derecha abajo izquierda*/
    border-radius: 20px;
}

footer
{
    clear: both;
    Width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
    background-color: #022b42;
    text-align: center;
    border-radius: 20px;
}

footer p
{
    text-align: center;
    color: #fff;
}